<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
    <title>我的票夹</title>
    <link href="css/checkTicket.css" type="text/css" rel="stylesheet">
    <link href="css/style.min.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.qrcode.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="robot" class="robot">
        <article id="container" class="ticket">
            <section id="order" class="ticket co-bto">
                <header class="web-box">
                    <a href="javascript:;" class="active">我的电子票</a>
                    <a href="javascript:;">座位引导</a>
                </header>
                <div id="header_blank">
                </div>

                <div class="cz_order" style= "padding-bottom: 0">
                    <dl>
                        <dt>
                          <span></span>
                          <font>Happy New Year!</font>
                        </dt>
                        <dd>
                            <div>
                                <h2 style="font-size:1.8em">
                                    <span id="ticket_title"></span>
                                    <font style="font-size:0.8em; margin-top:0.5em" id="ticket_status">等待选区</font>
                                </h2>

                            </div>
                            <p id="ticket_place">场馆：</p>
                            <p id="ticket_time">日期：</p>
                            <p id="ticket_seat">座位：</p>
                            <br>
                            <b></b>
                        </dd>
                        <a></a>
                        <dd>
                            <div id="qrcodeWrap">
                                <div id="qrcode"></div>
                            </div>

                            <div id="seatEntrance">
                                <a id="seatButton" style="float:none" href="">进入选座</a>
                                <div id="fakeQrcode" style="display:none">

                                </div>

                            </div>

                            <br>
                            <b></b>
                        </dd>
                    </dl>
                </div>
            </section>
        </article>
    </div>
</body>


<script>
    //测试用
    var ticket = new Object();
    ticket.id = "<%= tid %>"
    ticket.title="<%= act_name %>";
    ticket.place = "<%= act_place %>";
    ticket.time = "<%= act_begintime %>";
    ticket.seat = "<%= seat %>";           //ticket.seat = "A区"
    ticket.qrcode_img= "<%= act_photo %>";
    ticket.status= <%= ticket_status %>;            //status=1, "等待选座"， status=2, "等待检票", status=3, "已检票"

</script>
<script src="js/checkTicket.js" type="text/javascript"></script>
</html>
