<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/ticket.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/qrcode.js"></script>
    <script src="/javascripts/createqrcode.js"></script>
    <script src="/javascripts/weixin_lib.js"></script>
    <script src="/javascripts/ticket.js"></script>
    <title>票务信息</title>
</head>
<body>
<div id="wrap">
    <header>
        <img class="header-img" src="img/newlogo.jpg" />
    </header>

    <div class="theme"><%= act_name %>电子票</div>

    <hr/>
    <div id="mainbody">

        <% if (act_need_seat != 0 && seat == "") {%>
            <div class="ticket-wrapper">
                <span class="status-size ticket-invalid">
                    <b>由于您并未在抢票时间内选座，系统将稍后给您随机分配座位。</b>
                </span>
            </div>
        <% } %>

        <div class="details-wrapper img-wrapper">
            <div class="img-inner" id="qrcode">

            </div>
        </div>

        <div class="ticket-wrapper">
            <b>电子票状态：</b>
            <% if (ticket_status == 0) {%>
                <span class="status-size ticket-invalid">无效</span>
            <% } %>
            <% if (ticket_status == 1 || ticket_status == 2) {%>
                <span class="status-size ticket-valid">未使用</span>
            <% } %>
            <% if (ticket_status == 3) {%>
                <span class="status-size ticket-used">已使用</span>
            <% } %>
            <% if (ticket_status == 99) {%>
                <span class="status-size ticket-used">活动已结束</span>
            <% } %>
        </div>

        <div class="ticket-wrapper">
            活动地点：<b><%= act_place %></b>
        </div>
        <% if (act_need_seat != 0 && seat != "") {%>
            <div class="ticket-wrapper">
                座位/区域信息：<b><%= seat %></b>
            </div>
        <% } %>

        <div class="ticket-wrapper">
            活动开始时间：<b><%= act_begintime %></b>
        </div>
        <div class="ticket-wrapper">
            活动结束时间：<b><%= act_endtime %></b>
        </div>

        <% if (ticket_status == 1) {%>
        <div class="ticket-wrapper">
            <span class="status-size ticket-valid">活动开始前45分钟凭本电子票入场</span>
        </div>
        <div class="ticket-wrapper">
            <b>回复“退票 <%= act_key %>”即可退票</b>
        </div>
        <% } %>

    </div>

</div>
<footer id="footer">
    <hr />
    共青团清华大学委员会<br>
    &copy; 2013
</footer>

<script>
    theTID="<%= tid %>";
    $(window).load(function()
    {
        $("#qrcode").qrcode(
        {
            width: Math.round(0.5*$(window).width()),
            height: Math.round(0.5*$(window).width()),
            text: theTID
        });
    });
</script>
</body>
</html>
